In [26]:
from data_analysis import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
%pip data_analysis.py

Note: you may need to restart the kernel to use updated packages.

ERROR: unknown command "data_analysis.py"

In [3]:
# Setting up the things I want in general analysis
# Data Shape, columns in the data ,sum of missing values, sum of duplicated values
def general_analysis(data):
    shape = data_shape(data)
    columns = data_columns(data)
    missing = sum_missing_values(data)
    duplicated = sum_duplicates(data)
    return shape, columns, missing, duplicated

In [4]:
data = pd.read_csv('Walmart_sales.csv')

In [5]:
shape, columns, missing, duplicated = general_analysis(data)

In [6]:
shape, columns, missing, duplicated

((6435, 8),
 ['Store',
  'Date',
  'Weekly_Sales',
  'Holiday_Flag',
  'Temperature',
  'Fuel_Price',
  'CPI',
  'Unemployment'],
 0,
 0)

In [7]:
# creating a function that tekes in the informations and create a structured text format of it.
def create_text(shape, columns, missing, duplicated):
    text = f'The data has {shape[0]} rows and {shape[1]} columns. The columns in the data are {columns}. The data has {missing} missing values and {duplicated} duplicated values.'
    return text

In [8]:
text = create_text(shape, columns, missing, duplicated)

In [9]:
text

"The data has 6435 rows and 8 columns. The columns in the data are ['Store', 'Date', 'Weekly_Sales', 'Holiday_Flag', 'Temperature', 'Fuel_Price', 'CPI', 'Unemployment']. The data has 0 missing values and 0 duplicated values."

In [10]:
def check_outliers(df, columns):
    # Calculate the mean and standard deviation of the data
    means = df[columns].mean()
    stds = df[columns].std()

    # Calculate the z-scores for each data point
    z_scores = (df[columns] - means) / stds

    # Identify outliers as those with a z-score greater than 3 or less than -3
    outliers = np.abs(z_scores) > 3

    # Calculate the percentage of outliers in each column
    percentages = (outliers.sum(axis=0) / len(df)) * 100

    return percentages

outliers = check_outliers(data, ['Temperature', 'Fuel_Price', 'CPI', 'Unemployment', 'Weekly_Sales'])

In [11]:
outliers

Temperature     0.015540
Fuel_Price      0.000000
CPI             0.000000
Unemployment    3.403263
Weekly_Sales    0.466200
dtype: float64

In [12]:
# Content for EDA
# 1. unique values in the data, data types, numerical and categorical columns, summary statistics of the data, distribution of the data, correlation between the columns, outliers in the data

In [84]:
def data_info(df):
    """Return information about the DataFrame."""
    dtypes = ""
    for col in df.columns:
        dtypes += f"{col}: {df[col].dtype}\n"
    return dtypes

def correlation_check(df, num):
    """Return a correlation matrix of the DataFrame."""
    return df[num].corr()

def numerical_columns(data):
    """Return a list of numerical columns in the DataFrame."""
    num = [col for col in data.columns if data[col].dtype in ['int64', 'float64']]
    return num

def categorical_columns(data):
    """Return a list of categorical columns in the DataFrame."""
    cat = [col for col in data.columns if data[col].dtype == 'object']
    return cat

def summary_stats(data):
    """Return the summary statistics of the DataFrame."""
    return data.describe()

def unique_values(data):
    """Return the unique values in the DataFrame."""
    return data.nunique()

def check_outliers(df, columns):
    # Filtering the columns
    columns = [col for col in columns if df[col].nunique() > 10]
    # Calculate the mean and standard deviation of the data
    means = df[columns].mean()
    stds = df[columns].std()

    # Calculate the z-scores for each data point
    z_scores = (df[columns] - means) / stds

    # Identify outliers as those with a z-score greater than 3 or less than -3
    outliers = np.abs(z_scores) > 3

    # Calculate the percentage of outliers in each column
    percentages = (outliers.sum(axis=0) / len(df)) * 100

    return percentages

In [85]:
# using a function
def content_analysis(data):
    unique = unique_values(data)
    data_types = data_info(data)
    numerical = numerical_columns(data)
    categorical = categorical_columns(data)
    summary = summary_stats(data)
    correlation = correlation_check(data, numerical)
    outliers = check_outliers(data, numerical)
    return unique, data_types, numerical, categorical, summary, correlation, outliers

In [86]:
# testing it
unique, data_types, numerical, categorical, summary, correlation, outliers = content_analysis(data)

In [87]:
unique

Store             45
Date             143
Weekly_Sales    6435
Holiday_Flag       2
Temperature     3528
Fuel_Price       892
CPI             2145
Unemployment     349
dtype: int64

In [88]:
summary

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

In [89]:
correlation

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
Store,1.000000e+00,-0.335332,-4.386841e-16,-0.022659,0.060023,-0.209492,0.223531
Weekly_Sales,-3.353320e-01,1.000000,3.689097e-02,-0.063810,0.009464,-0.072634,-0.106176
Holiday_Flag,-4.386841e-16,0.036891,1.000000e+00,-0.155091,-0.078347,-0.002162,0.010960
Temperature,-2.265908e-02,-0.063810,-1.550913e-01,1.000000,0.144982,0.176888,0.101158
Fuel_Price,6.002295e-02,0.009464,-7.834652e-02,0.144982,1.000000,-0.170642,-0.034684
CPI,-2.094919e-01,-0.072634,-2.162091e-03,0.176888,-0.170642,1.000000,-0.302020
Unemployment,2.235313e-01,-0.106176,1.096028e-02,0.101158,-0.034684,-0.302020,1.000000

In [90]:
outliers

Store           0.000000
Weekly_Sales    0.466200
Temperature     0.015540
Fuel_Price      0.000000
CPI             0.000000
Unemployment    3.403263
dtype: float64

In [100]:
# converting to text format 
def create_content_text(unique, data_types, numerical, categorical, summary, correlation, outliers):
    text = f"The unique values in the data are {unique}\n. The data types of the columns are: {data_types}\n. The numerical columns in the data are {numerical}\n. The categorical columns in the data are {categorical}\n. The summary statistics of the data are {summary}\n. The correlation between the numerical columns is {correlation}\n. The percentage of outliers in the numerical columns are {outliers}."
    return text

In [101]:
text = create_content_text(unique, data_types, numerical, categorical, summary, correlation, outliers)

In [103]:
print(text)

The unique values in the data are Store             45
Date             143
Weekly_Sales    6435
Holiday_Flag       2
Temperature     3528
Fuel_Price       892
CPI             2145
Unemployment     349
dtype: int64
. The data types of the columns are: Store: int64
Date: object
Weekly_Sales: float64
Holiday_Flag: int64
Temperature: float64
Fuel_Price: float64
CPI: float64
Unemployment: float64

. The numerical columns in the data are ['Store', 'Weekly_Sales', 'Holiday_Flag', 'Temperature', 'Fuel_Price', 'CPI', 'Unemployment']
. The categorical columns in the data are ['Date']
. The summary statistics of the data are              Store  Weekly_Sales  Holiday_Flag  Temperature   Fuel_Price  \
count  6435.000000  6.435000e+03   6435.000000  6435.000000  6435.000000
mean     23.000000  1.046965e+06      0.069930    60.663782     3.358607
std      12.988182  5.643666e+05      0.255049    18.444933     0.459020
min       1.000000  2.099862e+05      0.000000    -2.060000     2.472000
25%      12.000000  5.533501e+05      0.000000    47.460000     2.933000
50%      23.000000  9.607460e+05      0.000000    62.670000     3.445000
75%      34.000000  1.420159e+06      0.000000    74.940000     3.735000
max      45.000000  3.818686e+06      1.000000   100.140000     4.468000

               CPI  Unemployment
count  6435.000000   6435.000000
mean    171.578394      7.999151
std      39.356712      1.875885
min     126.064000      3.879000
25%     131.735000      6.891000
50%     182.616521      7.874000
75%     212.743293      8.622000
max     227.232807     14.313000
. The correlation between the numerical columns is                      Store  Weekly_Sales  Holiday_Flag  Temperature  \
Store         1.000000e+00     -0.335332 -4.386841e-16    -0.022659
Weekly_Sales -3.353320e-01      1.000000  3.689097e-02    -0.063810
Holiday_Flag -4.386841e-16      0.036891  1.000000e+00    -0.155091
Temperature  -2.265908e-02     -0.063810 -1.550913e-01     1.000000
Fuel_Price    6.002295e-02      0.009464 -7.834652e-02     0.144982
CPI          -2.094919e-01     -0.072634 -2.162091e-03     0.176888
Unemployment  2.235313e-01     -0.106176  1.096028e-02     0.101158

              Fuel_Price       CPI  Unemployment
Store           0.060023 -0.209492      0.223531
Weekly_Sales    0.009464 -0.072634     -0.106176
Holiday_Flag   -0.078347 -0.002162      0.010960
Temperature     0.144982  0.176888      0.101158
Fuel_Price      1.000000 -0.170642     -0.034684
CPI            -0.170642  1.000000     -0.302020
Unemployment   -0.034684 -0.302020      1.000000
. The percentage of outliers in the numerical columns are Store           0.000000
Weekly_Sales    0.466200
Temperature     0.015540
Fuel_Price      0.000000
CPI             0.000000
Unemployment    3.403263
dtype: float64.

In [97]:
# creating a cleaning assistant
def data_cleaner_ass(data):
    columns = data.columns
    missing = sum_missing_values(data)
    duplicated = sum_duplicates(data)
    numerical = numerical_columns(data)
    outliers = check_outliers(data, numerical)
    return columns, missing, duplicated, numerical, outliers

In [98]:
columns, missing, duplicated, numerical, outliers = data_cleaner_ass(data)

In [99]:
outliers

Store           0.000000
Weekly_Sales    0.466200
Temperature     0.015540
Fuel_Price      0.000000
CPI             0.000000
Unemployment    3.403263
dtype: float64

In [114]:
# creating text for the output
def create_cleaner_text(columns, missing, duplicated, numerical, outliers):
    text = f"These are the columns in the data {columns}.\nThe total missing values in the data is {missing}.\nThere are {duplicated} duplicates in the data.\nThe numerical features in the data include {numerical}.\nThe table below shows the outliers in the data: \n{outliers}"
    return text

In [115]:
text = create_cleaner_text(columns, missing, duplicated, numerical, outliers)

In [116]:
print(text)

These are the columns in the data Index(['Store', 'Date', 'Weekly_Sales', 'Holiday_Flag', 'Temperature',
       'Fuel_Price', 'CPI', 'Unemployment'],
      dtype='object').
The total missing values in the data is 0.
There are 0 duplicates in the data.
The numerical features in the data include ['Store', 'Weekly_Sales', 'Holiday_Flag', 'Temperature', 'Fuel_Price', 'CPI', 'Unemployment'].
The table below shows the outliers in the data:
Store           0.000000
Weekly_Sales    0.466200
Temperature     0.015540
Fuel_Price      0.000000
CPI             0.000000
Unemployment    3.403263
dtype: float64